<div>
  <button class="button gray" ng-click="filter('grayscale(100%)')"></button>
  <button class="button gray" ng-click="filter('grayscale(0)')"></button>
  <button class="button gray" ng-click="filter('saturate(0.5)')"></button>
  <button class="button gray" ng-click="filter('hue-rotate(100deg)')"></button>
  <button class="button gray" ng-click="filter('speia(0.5)')"></button>
  <button class="button gray" ng-click="filter('opacity(0.5)')"></button>
  <button class="button gray" ng-click="filter('blur(0.5)')"></button>
</div>